asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
dj-database-url==0.5.0
Django==3.0.7
django-cognito-jwt==0.0.3
django-cors-headers==3.6.0
django-environ==0.4.5
djangorestframework==3.10.0
djangorestframework-simplejwt==4.1.2
idna==2.10
Pillow==8.0.1
pycparser==2.20
PyJWT==2.0.0
pytz==2020.4
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
